* {
    margin: 0px;
    padding: 0px;
}

img {
    position: absolute;
}

#img {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 30px;
}

#oi {
    width: 80%;
    display: flex;
    position: relative;
    list-style: none;
    left: 20%;
    margin-top: 10px;
}

#oi li {
    margin-left: 50px;
}

#icon {
    margin-left: 65%;
    margin-top: 20px;
}

#yo {
    margin-top: 45px;
}

#ol {
    height: 270px;
    width: 330px;
    border: 2px;
    background-color: white;
    position: absolute;
    margin-left: 290px;
    margin-top: 80px;
}

h1 {
    margin-left: 20px;
    font-size: 2em;
    margin-top: 30px;
}

p {
    margin-top: 10px;
    margin-left: 2px;
}

button {
    height: 30px;
    width: 130px;
    border-radius: 50px;
    color: white;
    background-color: green;
    margin-top: 20px;
}

#re {
    margin-left: 20px;
    background-color: black;
    color: white;
}

#t {
    height: 60px;
    width: 100%;
    background-color: rgb(51, 117, 51);
    margin-top: 492px;
}

#s {
    margin-left: 730px;
    position: absolute;
    top: 570px;
}

#y {
    margin-left: 300px;
    margin-top: 50px;
}

hr {
    margin-left: 450px;
    margin-top: -10px;
    border: 1px solid black;
}

#k {
    margin-left: 300px;
    font-size: small;
}

#div {
    height: 300px;
    width: 70px;
    border: 2px solid white;
    background-color: rgb(75, 180, 75);
    margin-left: 300px;
    margin-top: 40px;
}


#man {
    margin-top: 30px;
    margin-left: 30px;
}

#lor {
    margin-left: 800px;
    margin-top: -150px;
    font-size: 1em;
}

#no {
    margin-left: 1200px;
    background-color: black;
    color: white;
    margin-top: 50px;
    border-radius: 5px;
    height: 40px;
}

#two {
    margin-top: 100px;
}

#aa {
    margin-top: 150px;
    position: absolute;
    margin-left: 280px;
}

#lp {
    margin-left: 190px;
}

#few {
    position: absolute;
    margin-top: 200px;
    margin-left: 280px;
}

#sue {
    margin-top: 250px;
    margin-left: 290px;
}

#we {
    position: absolute;
    margin-top: 300px;
    margin-left: 280px;
    font-size: large;
}

#ins {
    position: absolute;
    margin-top: 325px;
    margin-left: 280px;
}

#je {
    margin-top: 250px;
    margin-left: 600px;
}

#nam {
    position: absolute;
    margin-top: 325px;
    margin-left: 590px;
}

#ban {
    position: absolute;
    margin-top: 300px;
    margin-left: 590px;
    font-size: large;
}

#ot {
    margin-top: 250px;
    margin-left: 950px;
}

#jo {
    position: absolute;
    margin-top: 300px;
    margin-left: 950px;
    font-size: large;
}

#fan {
    position: absolute;
    margin-top: 320px;
    margin-left: 950px;
    font-size: large;
}

#hor {
    margin-top: 450px;
    margin-left: 270px;
}

#was {
    position: absolute;
    margin-top: 500px;
    margin-left: 260px;
    font-size: large;
}

#do {
    position: absolute;
    margin-top: 525px;
    margin-left: 260px;
    font-size: large;
}

#me {
    margin-top: 450px;
    margin-left: 610px;
}

#jq {
    position: absolute;
    margin-top: 500px;
    margin-left: 590px;
    font-size: large;
}

#how {
    position: absolute;
    margin-top: 525px;
    margin-left: 580px;
    font-size: large;
}

#mw {
    margin-top: 450px;
    margin-left: 960px;
}

#pu {
    position: absolute;
    margin-top: 500px;
    margin-left: 960px;
    font-size: large;
}

#her {
    position: absolute;
    margin-top: 525px;
    margin-left: 960px;
    font-size: large;
}

#see {
    margin-top: 800px;
    margin-left: 270px;
}

#new {
    position: absolute;
    margin-top: 900px;
    margin-left: 770px;
}

#grow {
    margin-top: 980px;
    margin-left: 770px;
}

#pre {
    height: 30px;
    width: 130px;
    background: black;
    border-radius: 0px;
    margin-left: 1100px;
    margin-top: 50x;
}

#gree {
    margin-left: 500px;
    margin-top: 50px;
}

#jei {
    margin-top: 40px;
    margin-left: 400px;
}

#read {
    height: 35px;
    width: 135px;
    background-color: black;
    border-radius: 0px;
    margin-top: 370px;
    margin-left: 760px;
}

#tree {
    margin-top: 50px;
    position: absolute;
}

#twit {
    color: white;
    margin-top: 100px;
    margin-left: 300px;
    position: absolute;
}

#yaho {
    position: absolute;
    border: 1px solid white;
    margin-left: 200px;
    margin-top: -10px;
}

#pay {
    color: white;
    position: absolute;
    margin-top: 140px;
    margin-left: 300px;

}

#has {
    position: absolute;
    height: 38px;
    width: 400px;
    border: 2px solid white;
    background: white;
    margin-top: 200px;
    margin-left: 300px;

}

#whe {
    position: absolute;
    height: 38px;
    width: 400px;
    border: 2px solid white;
    background: white;
    margin-top: 260px;
    margin-left: 300px;
}

#when {
    position: absolute;
    height: 38px;
    width: 400px;
    border: 2px solid white;
    background: white;
    margin-top: 320px;
    margin-left: 300px;
}

#lear {
    position: absolute;
    height: 130px;
    width: 400px;
    border: 2px solid white;
    background: white;
    margin-top: 380px;
    margin-left: 300px;
}

#earm {
    position: absolute;
    margin-top: 200px;
    margin-left: 720px;
}

#much {
    position: absolute;
    height: 40px;
    width: 100px;
    border: 0px solid none;
    background: rgb(66, 144, 66);
    border-radius: 0px;
    margin-top: 330px;
    margin-left: -820px;
}

#mango {
    position: absolute;
    margin-top: 650px;
    margin-left: 670px;
}

#gra {
    position: absolute;
    margin-top: 690px;
    margin-left: 540px;
}

#fresh {
    position: absolute;
    margin-top: 760px;
    margin-left: 400px;
    color: rgb(102, 192, 102);
    font-size: small;
}

#cat {
    position: absolute;
    margin-top: 760px;
    margin-left: 770px;
}

#naw {
    position: absolute;
    margin-top: 780px;
    margin-left: 400px;
    border: 1px solid rgba(10, 10, 10, 0.458);
}

#lazy {
    position: absolute;
    margin-top: 800px;
    margin-left: 390px;
}

#cart {
    position: absolute;
    margin-top: 760px;
    margin-left: 900px;
    color: rgb(102, 192, 102);
    font-size: small;
}

#land {
    position: absolute;
    margin-top: 780px;
    margin-left: 900px;
    border: 1px solid rgba(10, 10, 10, 0.458);
}

#tat {
    position: absolute;
    margin-top: 760px;
    margin-left: 1260px;
}

#lasy {
    position: absolute;
    margin-top: 800px;
    margin-left: 900px;
}

.radio {
    height: 18px;
    width: 18px;
    margin-top: 100px;
    position: absolute;
    margin-left: -220px;
    background-color: black;

}

.radio1 {
    height: 18px;
    width: 18px;
    margin-top: 100px;
    position: absolute;
    margin-left: -150px;
    background-color: black;
}

.radio2 {
    height: 18px;
    width: 40px;
    margin-top: 100px;
    position: absolute;
    margin-left: -195px;
    background-color: rgb(57, 144, 57);
}

#band {
    height: 500px;
    width: 1590px;
    border: 2px solid black;
    background-color: rgba(15, 15, 15, 0.97);
    position: absolute;
    margin-top: 1060px;
}

#map {
    margin-top: 70px;
    margin-left: 300px;
}

#loc {
    color: rgba(255, 255, 255, 0.501);
    margin-top: 70px;
    margin-left: 320px;
}

#abo {
    color: white;
    font-size: large;
    margin-left: 300px;
    margin-top: 40px;
}

#para {
    color: rgba(255, 255, 255, 0.527);
    font-size: medium;
    margin-left: 295px;
    margin-top: 20px;
}

#call {
    margin-left: 730px;
    margin-top: -190px;
}

#uper {
    color: rgba(255, 255, 255, 0.515);
    font-size: medium;
    margin-left: 750px;
    margin-top: -190px;
}

#ser {
    color: white;
    font-size: medium;
    margin-left: 670px;
    margin-top: 40px;
    position: absolute;
}

#lard {
    color: rgba(255, 255, 255, 0.552);
    font-size: medium;
    margin-left: 670px;
    margin-top: 80px;
}

#mail {
    margin-left: 1170px;
    margin-top: -190px;
}

#demo {
    margin-left: 1192px;
    margin-top: -195px;
    color: rgba(255, 255, 255, 0.464);
}

#sub {
    color: rgba(255, 255, 255, 0.864);
    font-size: medium;
    margin-left: 1050px;
    margin-top: 40px;
}

#alt {
    margin-left: 1050px;
    color: rgba(255, 255, 255, 0.452);
    margin-top: 20px;
}

#hard {
    margin-left: 1050px;
    border: 1px solid white;
    margin-top: 10px;
}

#form {
    color: rgb(92, 185, 92);
    margin-left: 1050px;
    font-size: larger;
}

#fb {
    margin-left: 1060px;
    margin-top: 20px;
}

#idn {
    margin-left: 1080px;
    margin-top: 20px;
}

#insta {
    margin-left: 1110px;
    margin-top: 20px;
}

#youtube {
    margin-left: 1140px;
    margin-top: 22px;
}

#twii {
    margin-left: 1170px;
    margin-top: 22px;
}
#copy{margin-top: 150px;color: white;margin-left: 600px;}